@font-face {
  font-family: "iconfont"; /* Project id 5163041 */
  src: url('iconfont.woff2?t=1776688987838') format('woff2'),
       url('iconfont.woff?t=1776688987838') format('woff'),
       url('iconfont.ttf?t=1776688987838') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quxiao:before {
  content: "\e621";
}

.icon-emoji:before {
  content: "\e628";
}

.icon-dianhua:before {
  content: "\e64c";
}

.icon-drafts:before {
  content: "\e62a";
}

.icon-icon-:before {
  content: "\e60e";
}

.icon-shipin:before {
  content: "\eafb";
}

.icon-wangge:before {
  content: "\e881";
}

.icon-yuyin:before {
  content: "\e8c0";
}

.icon-sousuo:before {
  content: "\e63b";
}

.icon-t-box-line:before {
  content: "\e770";
}

.icon-arrowleft:before {
  content: "\e626";
}

.icon-share:before {
  content: "\e6f3";
}

.icon-message:before {
  content: "\e78a";
}

.icon-star:before {
  content: "\e7df";
}

.icon-fire:before {
  content: "\e842";
}

.icon-user:before {
  content: "\e677";
}

.icon-message1:before {
  content: "\e70c";
}

.icon-close:before {
  content: "\e664";
}

.icon-settings:before {
  content: "\e699";
}

.icon-home:before {
  content: "\e608";
}

.icon-bell:before {
  content: "\e887";
}

.icon-pinglun:before {
  content: "\e647";
}

.icon-Draft:before {
  content: "\eaaa";
}

.icon-add:before {
  content: "\e695";
}

.icon-eye:before {
  content: "\e67b";
}

.icon-following:before {
  content: "\e60a";
}

.icon-24px:before {
  content: "\e60d";
}

.icon-eye-off:before {
  content: "\e600";
}

.icon-moon:before {
  content: "\e601";
}

.icon-log-out:before {
  content: "\e602";
}

.icon-user1:before {
  content: "\e697";
}

.icon-log-out1:before {
  content: "\e73d";
}

.icon-sun:before {
  content: "\e886";
}

.icon-user-plus:before {
  content: "\e6b5";
}

.icon-edit:before {
  content: "\e77d";
}

.icon-search:before {
  content: "\e627";
}

.icon-history:before {
  content: "\ea03";
}

.icon-a-gf-dots1:before {
  content: "\e618";
}

